<div *ngIf = "vozac?.name != undefined" [ngClass]="klasi()">
    <ng-template role ="alert" aria-live="polite" #noImg>Slika</ng-template>
    <div role="heading" [style.text-decoration]="stilovi()">
        {{indeks+". "+ vozac?.name}}
    </div>
    <img width="300" *ngIf="vozac?.iconUrl; else noImg" [src]="vozac?.iconUrl">
</div>
<div>
    {{vozac?.team}}
</div>
<div>
<div>
    &nbsp;
</div>
</div>
<div [ngSwitch]="vozac?.category">
    <div *ngSwitchCase="'EXPERT'">Expert</div>
    <div *ngSwitchCase="'LUNATIC'">Lunatic</div>
    <div *ngSwitchCase="'ASD'">Asd</div>
    <div *ngSwitchDefault>Default</div>

</div>
<div>
    <button (click)="onDrvView()" class="kopce">Klikni me</button>
</div>

